<section class="hero text-light text-center" id="intro">
    <div class="container-sm">
        <div class="hero-inner">

            <p style="margin-top: 20px; font-size: 36px; color: white; margin-bottom: 40px;" class="hero-title h2-mobile mt-0 is-revealing">Make <strong>an impact</strong> in <strong>seconds.</strong></p>
            <p style="color: white; font-size: 1.2rem;" class="hero-paragraph is-revealing">Empowering voices.  Flipping issues.  <strong>Moving the world.</strong></p>

            <!-- <div class="email-donate-row">

                <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                <div class="vl">
                </div>

                <div class = "button-wrap">
                <button class = "rad-button good flat" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
              </div>
            </div> -->

        </div>
    </div>
</section>

<section class="features section text-center" style="display: block;">
              <section class="features section text-center lateral">
                <div class="container">
                  <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                      <div class="feature is-revealing single-col">
                        <p class="feature-title" style="line-height: 2rem;">Children at the U.S. border are being locked in cages, cut off from sanitation, suffering severe trauma, and <strong>dying from lack of medical care.</strong></p>
                        <br />
                        <%= image_tag 'fliplist-border-cell-image.png', style: 'margin: 0 auto;' %>
                        <br/>
                        <br />
                        <p class="feature-title" style="line-height: 2rem;">This is beyond politics.  This is beyond Trump, AOC, and opinions about immigration.</p>
                        <p class="feature-title" style="line-height: 2rem;"><strong>This is about our humanity.</strong></p>
                        <p class="feature-title" style="line-height: 2rem;">If you want to raise awareness and <strong>bring the cruelty to an end,</strong> click the Outreach button below -- and you'll retweet this entire collection of messages:</p>
<br />
                        <div class="button-wrap" style="">
                          <p class="feature-title" style="margin-bottom: 35px;">
                            <a href="/auth/twitter" class="authorize-anchor" style="font-weight: 500; background-color: rgb(67, 172, 235); color: white; padding: 8px; border-radius: 6px; border: solid 1px lightgrey;">
                            <%= image_tag 'twitter-box.svg', style: 'height: 30px;  display: inline; padding-bottom: 5px;' %>
                              Outreach  </a></p>
                        </div>

                        <p class="feature-title" style="margin-top: 20px;"><em>If you don't wish to use the Twitter API, you can manually like and retweet the messages as well.</em></p>
                        <br />
<div class="features-wrap" style="display: inline-flex;">
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drawings by migrant children depict conditions in border patrol detention facilities <a href="https://t.co/yWfSm6v1xc">https://t.co/yWfSm6v1xc</a></p>&mdash; TIME (@TIME) <a href="https://twitter.com/TIME/status/1146624699801198593?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote>

                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">&quot;As an 88-year-old veteran I never thought that I could be ashamed of our country. But what is going on at our southern border is beyond shame or embarrassment.&quot; <a href="https://twitter.com/hashtag/NYTLetters?src=hash&amp;ref_src=twsrc%5Etfw">#NYTLetters</a> <a href="https://t.co/TaxGihuRNT">https://t.co/TaxGihuRNT</a></p>&mdash; New York Times Opinion (@nytopinion) <a href="https://twitter.com/nytopinion/status/1146638518409728000?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote>

                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Dr. Julie Linton, American Academy of Pediatrics: &quot;If we don&#39;t urgently change the process that we have at the border with pediatric expertise, I can anticipate there will be more deaths to come&quot; <a href="https://t.co/GhAHDcDNX1">pic.twitter.com/GhAHDcDNX1</a></p>&mdash; MSNBC (@MSNBC) <a href="https://twitter.com/MSNBC/status/1146607988603596802?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
  <br />
  <div class="features-wrap" style="display: inline-flex;">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">I don&#39;t think it is appreciated how shocking it is that seven children in US custody on the southern border have died of infectious disease. (For more detail and context on this, see <a href="https://twitter.com/DLind?ref_src=twsrc%5Etfw">@DLind</a> <a href="https://t.co/7MTWFHVRNM">https://t.co/7MTWFHVRNM</a>). It is extremely rare for a child over age 1 to die this way.</p>&mdash; Eliot Fishman (@FishmanEliot) <a href="https://twitter.com/FishmanEliot/status/1146606510413426688?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">History has taught us that concentration camps should be liberated. <br><br>We cannot &amp; should not wait until 2020, w/ the hope that we defeat Trump, to free these children.<br><br>We should liberate them NOW - by any means necessary.<br><br>My latest for <a href="https://twitter.com/theintercept?ref_src=twsrc%5Etfw">@TheIntercept</a>.<a href="https://t.co/3McawljqAe">https://t.co/3McawljqAe</a></p>&mdash; Shaun King (@shaunking) <a href="https://twitter.com/shaunking/status/1144944444992450560?ref_src=twsrc%5Etfw">June 29, 2019</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">A secret Border Patrol Facebook group is being investigated after a report found ‘deeply disturbing’ posts mocking migrant deaths and more <a href="https://t.co/cJWGgtaII5">pic.twitter.com/cJWGgtaII5</a></p>&mdash; NowThis (@nowthisnews) <a href="https://twitter.com/nowthisnews/status/1146613349750386688?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote>
</div>
<br />

<div class="features-wrap" style="display: inline-flex; margin:0 auto;">
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">You should read this whole New Yorker piece about the conditions at Border Patrol facilities in Texas, but if you can&#39;t read the whole thing, at least read this paragraph: <a href="https://t.co/xWwHYvIMjb">https://t.co/xWwHYvIMjb</a> <a href="https://t.co/Iujo3Pi2av">pic.twitter.com/Iujo3Pi2av</a></p>&mdash; Kyle Griffin (@kylegriffin1) <a href="https://twitter.com/kylegriffin1/status/1142540367797116929?ref_src=twsrc%5Etfw">June 22, 2019</a></blockquote>
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">As we celebrate <a href="https://twitter.com/hashtag/4thofJuly?src=hash&amp;ref_src=twsrc%5Etfw">#4thofJuly</a> and our unalienable rights to life, liberty, and the pursuit of happiness ...<br><br>This is what&#39;s happening on American soil:<a href="https://t.co/m4hyPyffAa">https://t.co/m4hyPyffAa</a><br><br>Raise awareness of this waking nightmare, and RT the messages at <a href="https://t.co/6h8YLln9dZ">https://t.co/6h8YLln9dZ</a><a href="https://twitter.com/hashtag/BorderCrisis?src=hash&amp;ref_src=twsrc%5Etfw">#BorderCrisis</a> <a href="https://t.co/2eHFyFnmf0">pic.twitter.com/2eHFyFnmf0</a></p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1146716189160333313?ref_src=twsrc%5Etfw">July 4, 2019</a></blockquote>
<blockquote class="twitter-tweet" style=""><p lang="en" dir="ltr">If you&#39;re and American and are okay with this, you have no conscience -- and I&#39;m ashamed that you&#39;re a citizen of my country. <a href="https://t.co/f34RHnFVfQ">https://t.co/f34RHnFVfQ</a></p>&mdash; Dan Gillmor (@dangillmor) <a href="https://twitter.com/dangillmor/status/1146531531021791234?ref_src=twsrc%5Etfw">July 3, 2019</a></blockquote>
</div>
                            <br>

<!-- <p class="feature-title" style="margin-top: 20px;"><em>If you experienced any errors or don't wish to use the Twitter API, you can manually like and retweet the messages above.</em></p> -->

                                <!-- <hr id="alt">
                                <br>
                                <p class="feature-title"><em>If you experienced any errors or don't wish to use the Twitter API, <a href="https://twitter.com/Flip_List/likes" target="_blank" style="border-bottom: solid 2px mediumvioletred; color: mediumvioletred;">click this link.</a></em></p>
                                <p class="feature-title"><em>A Twitter feed will open, and you can manually retweet the messages in about 30 seconds.</em></p>
                                  <div class="audio-block">
                                    <%= image_tag 'icons/rock-guitar.svg', style: 'height:45px;display:inline-block' %>
                                    <p class="feature-title" style="font-style: oblique;" >Here's some music to set the mood: </p>
                                    <%= audio_tag 'background.mp3', controls: true, loop: true, style: 'margin-bottom: 20px; display: block; margin: 0 auto;' %>                                     </div>
                                  <p class="feature-title" id="alt4"><a href="https://twitter.com/Flip_List/likes" target="_blank" style="border-bottom: solid 2px mediumvioletred; color: mediumvioletred;"><strong>... GO!</strong></a></p>

                                <br> -->
                                  <!-- <div class="email-donate-row" style="margin-top: 20px;"> -->

                                      <!-- <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                                      <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                                      <div class="vl">
                                      </div> -->

                                   <!--  <div class = "button-wrap">
                                      <button class = "retweet-button blue flat" style="font-weight: 800; font-size: 1rem;" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Efforts</button>
                                    </div>
                                  </div> -->

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </section>

<% provide :title, 'Empowering voices. Flipping issues. Moving the world.' %>
