<h1 style='padding-top:400px'>Privacy Policy</h1>

<p>
  FlipList is a platform where users can send important tweets and support
  important causes. FlipList is likewise a platform where users can earn credit
  compensation for generating value. In some circumstances, users may convert
  any aforementioned credits that they own and/or have earned into PayPal funds.
  However, the credits themselves have no utility outside the FlipList platform.
</p>

<p>
  We respect your privacy, and this policy is to show you how we collect, use
  and share your personal information. This privacy policy applies to users and
  is part of our terms of use.
</p>

<h2>Information You Provide</h2>

<p>
  This is information that you provide to us through text fields and other input
  mechanisms, such as your name, payment information, content, clicks, forms,
  buttons, shares, likes, tweets, and retweets.
</p>

<h2>Information We Collect</h2>

<p>
  We collect information automatically as you navigate the site or through our
  third party analytics providers. We may store usage information such as the
  type of device you use to access FlipList, your operating system, browser
  type, IP address, and device ID, the pages you visit or request, links
  clicked, referring sites, user interactions and your search terms. We also
  derive your location from your IP address.
</p>

<h3>Do Not Track</h3>

<p>
  Our service does not support Do Not Track requests at this time, which means
  our third party analytics providers may associate your usage on FlipList with
  your usage on other sites.
</p>

<h2>How We Use Your Information</h2>

<p>
  We never sell your information to anyone. We use your information to:
</p>

<ol>
  <li>
    provide FlipList to you.
  </li>
  <li>
    allow you to participate on the site
  </li>
  <li>
    allow you to sign up for an account
  </li>
  <li>
    allow you to (when approved by FlipList) earn credit compensation for your
    contributions and take home eligible credits.
  </li>
  <li>
    send you emails relevant to your usage.
  </li>
  <li>
    reply to your questions.
  </li>
  <li>
    understand how you use the service and market FlipList to you, including
    suggesting content/activity/initiatives you may be interested in accessing.
  </li>
  <li>
    create better tools for users.
  </li>
  <li>
    conduct research and development to improve FlipList and develop future
    products and services that our users may be interested in by analyzing how
    you use it.
  </li>
  <li>
    prevent fraud and abuse on FlipList.
  </li>
</ol>

<h2>Information Shared with Third Parties</h2>

<p>
  Personally Identifiable Information (PII) is data that includes a personal
  identifier like your name, email or address, or data that could reasonably be
  linked back to you. We will only share this data under the following
  circumstances:
</p>

<ol>
  <li>
    Pending your permission, with users or services used by users to deliver
    content and rewards.
  </li>
  <li>
    With companies that are contractually engaged in providing us with services,
    such as order fulfillment, email management, analyzing data trends, credit
    card processing and fraud detection and prevention. These companies may have
    access to personal information to perform their services and are obligated
    by contract to safeguard any PII they receive from us.
  </li>
  <li>
    If we believe that disclosure is reasonably necessary to comply with a law,
    regulation, valid legal process (e.g., subpoenas or warrants served on us),
    to protect the security or integrity of FlipList, and to protect the rights,
    property, or safety of FlipList, its employees, users, or others. If we are
    going to release your data, we will do our best to provide you with notice
    in advance by email, unless we are prohibited by law from doing so.
  </li>
  <li>
    We may disclose or transfer your data in connection with the sale, merger,
    bankruptcy, sale of assets or reorganization of our company. We will notify
    you if a different company receives your PII. The promises in this privacy
    policy apply to any data transferred to a new entity.
  </li>
</ol>

<h2>Information Shared with the Public</h2>

<p>
  The following information is publicly accessible:
</p>

<ol>
  <li>
    Your username, your content, your comments, your actions, your
    participation, your credit compensations awarded, and potentially other
    appropriate information relevant to your use of FlipList
  </li>
  <li>
    We may share aggregated or anonymized usage data in blog posts, press
    releases, or in other ways to share information about FlipList's usage.
    Aggregated or anonymized data cannot be linked back to any individual
    FlipList user.
  </li>
</ol>

<h2>Settings</h2>

<p>
  You can modify or delete certain information associated with your account
  by emailing hello@fliplist.app.
</p>

<h2>Disable Account</h2>

<p>
  You can remove your public facing information by emailing hello@fliplist.app.
  When we disable an account we remove your name, email address (and/or linked
  social account), username, and password information from the database.
</p>

<p>
  Even if an account is disabled, all information may be retained by our
  analytics providers on their own servers.
</p>

<h2>Emails</h2>

<p>
  You can change which emails you receive by emailing hello@fliplist.app. While
  this removes most emails, some service related emails are still sent.
</p>

<h2>Security</h2>

<p>
  The security of your personal information is important to us and we follow
  industry standards toprotect it. Full credit card numbers are never accessed
  by our system, andyour most sensitive data is handled by PayPal. To further
  protect your information we suggest using a strong and unique password for
  your FlipList account.
</p>

<h2>Children</h2>

<p>
  FlipList is not directed at persons under the age of 16, and they may not
  create an account or otherwise use FlipList.
</p>

<h2>Changes</h2>

<p>
  We may sometimes make changes to this policy. If we make material changes that
  adversely affect your rights under this policy, we will let you know by
  posting an announcement on the site. Continuing to use FlipList after a change
  to this policy means you accept the new policy.
</p>

<p>
  If you have any questions, please email hello@fliplist.app.
</p>

<% provide :title, 'Privacy Policy' %>
