<section class="hero text-light text-center" id="intro">
    <div class="container-sm">
        <div class="hero-inner">

            <p style="margin-top: 20px; font-size: 36px; color: white; margin-bottom: 40px;" class="hero-title h2-mobile mt-0 is-revealing">Make <strong>an impact</strong> in <strong>seconds.</strong></p>
            <p style="color: white; font-size: 1.2rem;" class="hero-paragraph is-revealing">Empowering voices.  Flipping issues.  <strong>Moving the world.</strong></p>

            <!-- <div class="email-donate-row">

                <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                <div class="vl">
                </div>

                <div class = "button-wrap">
                <button class = "rad-button good flat" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
              </div>
            </div> -->

        </div>
    </div>
</section>

<section class="features section text-center" style="display: block;">
              <section class="features section text-center lateral">
                <div class="container">
                  <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                      <div class="feature is-revealing single-col">
                        <p class="feature-title">1. Read the tweet below</p>
                        <p class="feature-title" style="margin-bottom: 35px;">2. Click the blue button to share it across Europe:</p>
                        <div class="button-wrap" style="">
                          <p class="feature-title" style="margin-bottom: 35px;">
                            <a href="/auth/twitter" class="authorize-anchor" style="font-weight: 500; background-color: rgb(67, 172, 235); color: white; padding: 8px; border-radius: 6px; border: solid 1px lightgrey;">
                            <%= image_tag 'twitter-box.svg', style: 'height: 30px;  display: inline; padding-bottom: 5px;' %>
                              Retweet!  </a></p>
                        </div>
                        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JiriMastalka?ref_src=twsrc%5Etfw">@JiriMastalka</a> <a href="https://twitter.com/ManfredWeber?ref_src=twsrc%5Etfw">@ManfredWeber</a> <a href="https://twitter.com/UdoBullmann?ref_src=twsrc%5Etfw">@UdoBullmann</a> <a href="https://twitter.com/peteraltmaier?ref_src=twsrc%5Etfw">@peteraltmaier</a><br><br>Stakeholders (<a href="https://t.co/ItDnM9bua7">https://t.co/ItDnM9bua7</a>), Internet founders (<a href="https://twitter.com/timberners_lee?ref_src=twsrc%5Etfw">@timberners_lee</a>) &amp; 4 mil Europeans oppose <a href="https://twitter.com/hashtag/Article11?src=hash&amp;ref_src=twsrc%5Etfw">#Article11</a> + <a href="https://twitter.com/hashtag/Article13?src=hash&amp;ref_src=twsrc%5Etfw">#Article13</a><br><br>Who&#39;s it for?<br><br>MEPs - <a href="https://twitter.com/hashtag/SaveYourInternet?src=hash&amp;ref_src=twsrc%5Etfw">#SaveYourInternet</a>, and make Europe&#39;s net a <a href="https://twitter.com/hashtag/ModelForTheWorld?src=hash&amp;ref_src=twsrc%5Etfw">#ModelForTheWorld</a><br><br>RT!</p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1086926320259514370?ref_src=twsrc%5Etfw">January 20, 2019</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                            <br>

                            <p class="feature-title"><strong>Recipients include: </strong>Jiri Matalka, Manfred Weber, Udo Bullmann, Peter Altmaier, Jean-Marie Cavada, Syed Kamall, Guy Verhofstadt, Gabi Zimmer, Julia Reda, Philippe Lamberts, Nigel Farage, Lidia Geringer, Catherine Stihler, Isa Adinolfi, Nicolas Bay, Marcel de Graaff</p>

                                <hr id="alt">
                                <br>
                                <p class="feature-title"><em>If you experienced any errors or don't wish to use the Twitter API, click the tweet below.</em></p>
                                <p class="feature-title"><em>A thread will open, and you can manually retweet the messages on Twitter in about 30 seconds!</em></p>
                                  <!-- <p class="feature-title"><em>If you experienced any errors, we're overloaded with requests!</em></p> -->
                                  <!-- <p class="feature-title"><em>Click the tweet below, and you can manually retweet the messages on Twitter in about 30 seconds</em></p> -->
                                  <div class="audio-block">
                                    <%= image_tag 'icons/rock-guitar.svg', style: 'height:45px;display:inline-block' %>
                                    <p class="feature-title" style="font-style: oblique;" >Here's some music to set the mood: </p>
                                    <%= audio_tag 'background.mp3', controls: true, loop: true, style: 'margin-bottom: 20px; display: block; margin: 0 auto;' %>                                     </div>
                                  <p class="feature-title" id="alt4"><strong>... GO!</strong></p>
                                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JiriMastalka?ref_src=twsrc%5Etfw">@JiriMastalka</a> <a href="https://twitter.com/ManfredWeber?ref_src=twsrc%5Etfw">@ManfredWeber</a> <a href="https://twitter.com/UdoBullmann?ref_src=twsrc%5Etfw">@UdoBullmann</a> <a href="https://twitter.com/peteraltmaier?ref_src=twsrc%5Etfw">@peteraltmaier</a><br><br>Stakeholders (<a href="https://t.co/ItDnM9bua7">https://t.co/ItDnM9bua7</a>), Internet founders (<a href="https://twitter.com/timberners_lee?ref_src=twsrc%5Etfw">@timberners_lee</a>) &amp; 4 mil Europeans oppose <a href="https://twitter.com/hashtag/Article11?src=hash&amp;ref_src=twsrc%5Etfw">#Article11</a> + <a href="https://twitter.com/hashtag/Article13?src=hash&amp;ref_src=twsrc%5Etfw">#Article13</a><br><br>Who&#39;s it for?<br><br>MEPs - <a href="https://twitter.com/hashtag/SaveYourInternet?src=hash&amp;ref_src=twsrc%5Etfw">#SaveYourInternet</a>, and make Europe&#39;s net a <a href="https://twitter.com/hashtag/ModelForTheWorld?src=hash&amp;ref_src=twsrc%5Etfw">#ModelForTheWorld</a><br><br>RT!</p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1086926320259514370?ref_src=twsrc%5Etfw">January 20, 2019</a></blockquote>
                                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


                                <br>
                                  <div class="email-donate-row" style="margin-top: 50px;">

                                      <!-- <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                                      <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                                      <div class="vl">
                                      </div> -->

                                      <div class = "button-wrap">
                                      <button class = "retweet-button blue flat" style="font-weight: 800; font-size: 1rem;" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </section>

<% provide :title, 'Empowering voices. Flipping issues. Moving the world.' %>
