<section class="hero text-light text-center" id="intro">
    <div class="container-sm">
        <div class="hero-inner">

            <p style="margin-top: 20px; font-size: 36px; color: white; margin-bottom: 40px;" class="hero-title h2-mobile mt-0 is-revealing">Make <strong>an impact</strong> in <strong>seconds.</strong></p>
            <p style="color: white; font-size: 1.2rem;" class="hero-paragraph is-revealing">Empowering voices.  Flipping issues.  <strong>Moving the world.</strong></p>

            <!-- <div class="email-donate-row">

                <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                <div class="vl">
                </div>

                <div class = "button-wrap">
                <button class = "rad-button good flat" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
              </div>
            </div> -->

        </div>
    </div>
</section>

<section class="features section text-center" style="display: block;">
              <section class="features section text-center lateral">
                <div class="container">
                  <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                      <div class="feature is-revealing single-col">
                        <h2 class="section-title mt-0" style="">Sent.</h2>
                      <!-- <p class="feature-title">On Monday, January 21st, memebers of the European Parliament (MEPs) are negotiating comprehensive Internet reforms that would <strong>(Article 11) require paid licenses for <em>hyperlinking</em> to news stories</strong>, and <strong>(Article 13) create copyright censorship algorithms that block ALL user submissions in the E.U. -- <em>including the legal kind.</em></strong></p> -->
                            <!-- <p class="feature-title">Have any favorite blogs?  <strong>This will kill them</strong>, as the owners would have to pay for every link they include -- and every comment that's submitted.</p>
                        <p class="feature-title">Who <em>can</em> afford that?  Surprise surprise, Facebook and the major media organizations.</p>
                        <p class="feature-title">Articles 11 and 13 were largely written for the music industry.  And even the <em>music industry</em> has come out against it (as well as the Premier League, and the film industry, and the inventors of the Internet -- <a href="https://www.eff.org/deeplinks/2018/12/facing-criticism-all-sides-eus-terrible-copyright-amendments-stumble-new-year" target="_blank">see the link while you can!</a>).  More, <a href="https://www.eff.org/deeplinks/2018/12/four-million-europeans-signatures-opposing-article-13-have-been-delivered-european" target="_blank">4 million Europeans signed in opposition to these misguided laws.</a></p> -->

                        <!-- <p class="feature-title">We've written a series of tweets to critical MEPs, alerting them that this is a SERIOUS mistake.  And not only will it ruin the Internet across Europe -- it will also <strong>cost them and their parties significant support</strong> in the May 2019 MEP elections.</p> -->
                        <!-- <p class="feature-title"><strong>63% of voters</strong> oppose using the shutdown to force border wall funding.</p> -->
                        <p class="feature-title">Your messages are <a href="https://twitter.com/Flip_List/likes" style="border-bottom: solid 2px mediumvioletred; color: mediumvioletred;">on the way.</a>   Now continue spreading the word.</p>
                        </br>
                        <p class="feature-title" style="line-height: 2rem;">Help others share these messages by <strong>forwarding <a href="https://fliplist.app" style="border-bottom: solid 2px mediumvioletred; color: mediumvioletred;">fliplist.app</a></strong> to friends and family, and raise awareness until we <strong>end this cruelty.</strong></p>
                        </br>
                        <p class="feature-title">Once and for all.</p>
                        </br>
                        <!-- <p class="feature-title">Now, you can help others do the same.</p> -->

                        <!-- AddToAny BEGIN -->
                        <!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_google_gmail" href="https://mail.google.com/mail/u/0/#inbox?compose=new&su=check%20out%20this%20site!&body=send%20some%20tweets!%20%20https://fliplist.app"></a>
                        <a class="a2a_button_facebook" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="https://www.facebook.com/sharer/sharer.php?u=https:fliplist.app" target="_blank"</a>
                        <a class="a2a_button_reddit" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" href="//www.reddit.com/submit?url=https:fliplist.app" target="_blank"></a>
                        <a class="a2a_button_linkedin"></a>
                        <a class="a2a_button_sms" href="sms://body=https://fliplist.app"</a>
                        <a class="a2a_button_whatsapp" href="whatsapp://send?text=https://fliplist.app"</a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script> -->
                        <!-- AddToAny END -->

                        <!-- <p class="feature-title">Now spread the word!</p> -->

                        <p class="feature-title"><em>If you want to support our activism efforts, you can <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url" style="text-decoration: underline; color: rgb(70,130,180);">make a contribution here.</em></a></p>

                        <!-- <div class="email-donate-row" style="margin-top: 20px;">
                            <div class = "button-wrap">
                            <button class = "retweet-button blue flat" style="font-weight: 800; font-size: 1rem;" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Efforts</button>
                          </div>
                        </div> -->

                            <br>
                                <br>
                                  <!-- <p class="feature-title">Finally, share <a href="https://fliplist.app/save-eu-internet"><strong>fliplist.app/save-eu-internet</strong></a> on social media and invite others to <strong>speak up</strong> for an open + fair Internet.</p> -->
                                  <!-- <div class="audio-block">
                                    <%= image_tag 'icons/rock-guitar.svg', style: 'height:45px;display:inline-block' %>
                                    <p class="feature-title" style="font-style: oblique;" >Until Twitter increases our posting priveleges, you have to retweet these ones manually -- so we included a soundtrack for you:</p>
                                  </div>
                                  <%= audio_tag 'background.mp3', controls: true, loop: true, style: 'margin-bottom: 20px; display: block; margin: 0 auto;' %>
                                  <p class="feature-title"><strong>... GO!</strong></p>
                                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/JiriMastalka?ref_src=twsrc%5Etfw">@JiriMastalka</a> <a href="https://twitter.com/ManfredWeber?ref_src=twsrc%5Etfw">@ManfredWeber</a> <a href="https://twitter.com/UdoBullmann?ref_src=twsrc%5Etfw">@UdoBullmann</a> <a href="https://twitter.com/peteraltmaier?ref_src=twsrc%5Etfw">@peteraltmaier</a><br><br>Stakeholders (<a href="https://t.co/ItDnM9bua7">https://t.co/ItDnM9bua7</a>), Internet founders (<a href="https://twitter.com/timberners_lee?ref_src=twsrc%5Etfw">@timberners_lee</a>) &amp; 4 mil Europeans oppose <a href="https://twitter.com/hashtag/Article11?src=hash&amp;ref_src=twsrc%5Etfw">#Article11</a> + <a href="https://twitter.com/hashtag/Article13?src=hash&amp;ref_src=twsrc%5Etfw">#Article13</a><br><br>Who&#39;s it for?<br><br>MEPs - <a href="https://twitter.com/hashtag/SaveYourInternet?src=hash&amp;ref_src=twsrc%5Etfw">#SaveYourInternet</a>, and make Europe&#39;s net a <a href="https://twitter.com/hashtag/ModelForTheWorld?src=hash&amp;ref_src=twsrc%5Etfw">#ModelForTheWorld</a><br><br>RT!</p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1086926320259514370?ref_src=twsrc%5Etfw">January 20, 2019</a></blockquote>
                                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </section>

<% provide :title, 'Empowering voices. Flipping issues. Moving the world.' %>
