<h1 style='padding-top:400px'>Terms of Use</h1>

<p>
  These are FlipList's terms of use. In the act of using FlipList, you agree to
  these terms, and we'll let you know if we change anything.
</p>

<p>
  By using FlipList, you agree to these terms and we will always tell you if we
  change them
</p>

<p>
  FlipList is a platform where users can send important tweets and support
  important causes. FlipList is likewise a platform where users can earn credit
  compensation for generating value. In some circumstances, users may convert
  any aforementioned credits that they own and/or haveearnedinto PayPal funds.
  However, the credits themselves have no utility outside the FlipList platform.
</p>

<p>
  These are FlipList's terms of use and apply to all users of the FlipList
  website and mobile applications. "We," "our","us," "site," "services," and
  "Services" refers to FlipList. "FlipList" refersto this website and related
  services offered by us.
</p>

<p>
  In order to use FlipList, you must agree to these terms, and you must
  acknowledge that you've read and understood these terms.  You must also agree
  to our privacy policy and any other policies we incorporate with FlipList
  (such as community guidelines).
</p>

<p>
  FlipListis a platform. We are not responsible for the quality, timing, or
  legality of content, discussions, or credits. We may adjust these terms, and
  when we do, we will announce the changes (on the site, via e-mail, or through
  another form of communication).
</p>

<h2>1. Creating Your Account</h2>

<p>
  In order toparticipate on the site and/or register for an account, you must
  be at least 16 years old. If you choose to load up credits to or take home
  credits from your account, you must be at least 18 years old OR have the
  permission of a legal guardian. You understand that you are responsible for
  your account, including its security and any action completed when anyone is
  signed into your account
</p>

<p>
  When registering for an account, you must communicate your information
  accurately. If you failto do so, we may not be able to help you in attempts to
  access your account.
</p>

<p>
  You must be at least 16 years old in order to register your account. To (a)
  load upcreditsto or (b) take home credits from your account, you must be at
  least 18 years old OR have the permission of a legal guardian. If you are
  aware that a user is in violation of these terms, please send us an email at
  hello@fliplist.app with the details.
</p>
<p>
  In using FlipList, you are responsible for any action that occurs while
  someone is utilizing the site on your behalf, while someone signed into your
  account, any action taken on behalf of you or your account, and the security
  of your account. If your account has been compromised (or you believe it has
  been), immediately contact us at hello@fliplist.app with details of your
  situation.
</p>

<h2>2.User Conduct</h2>

<p>
  You are responsible for any activity completed through your account, your
  browser, and/or your device. If you breach any of FlipList's terms, we may
  terminate/suspend your account. Some of the offenses that could merit
  termination/suspension/other reprimands include:
</p>

<ul>
  <li>
    Illegal Activities - Don’t break the law or encourage others to break the
    law.
  </li>
  <li>
    Abuse - Don’t harass or bully others, or promote violence or hatred towards
    others.
  </li>
  <li>
    Personal Information - Don’t distribute others’ personal information or
    otherwise abuse it. Users with access to other users' personal information
    should not use it for anything unrelated to FlipList.
  </li>
  <li>
    Fraud - Don’t post information that is false or otherwise misleading.
  </li>
  <li>
    Impersonation - Don’t impersonate anyone. Don’t use another’s account, or
    allow others to use your account.
  </li>
  <li>
    Username Squatting - Don’t create an account to prevent others from using
    the name or to sell the name.
  </li>
  <li>
    Intellectual Property - Don’t infringe on others’ intellectual property
    rights.
  </li>
  <li>
    Spam - Don’t spam others or distribute unsolicited advertising material.
  </li>
  <li>
    Malware - Don’t use FlipList to host or distribute, malicious or destructive
    software
  </li>
  <li>
    Endorsement - Don’t claim endorsement by FlipList without our prior written
    approval.
  </li>
  <li>
    Service Degradation - Don’t degrade others’ use of FlipList.
  </li>
  <li>
    Data Mining - Don’t crawl, scrape or otherwise index information on
    FlipList. If you are doing this to create a useful feature then we may allow
    it, but you must check with us first.
  </li>
  <li>
    Improper Sharing - Don’tshare content/actions/initiatives/participation in
    order to give/gain an unfair advantage for greater credit compensation or
    earn credit compensation/rewards/value for another's
    content/actions/initiatives/participation for yourself.
  </li>
  <li>
    Reverse Engineering - Don’t take apart FlipList to figure out our secret
    sauce.
  </li>
</ul>

<p>
  These offenses are not meant to be exhaustive. If you find a new and creative
  way to hurt FlipList or our users, we may take action to prevent it.
</p>

<h2>3. What You Do As a User</h2>

<p>
  FlipList users support important causes through their actions. At times, you
  may earn credit compensation for completing such actions. (What constitutes
  "completion" is up to the discretion of the FlipList team.)
</p>

<p>
  You appoint us as your agent to, on your behalf, (1) determine the credit
  compensation awarded to you or any users who have earned credit compensation.
  In exchange for this service, our fee is 7% of any amount of credit
  compensation distributed, which enables us to provide FlipList and the related
  services to you.
</p>

<p>
  Compensation is given in the form of credits that only retain value on the
  FlipList site. If a user receives credits as compensation for said user's
  actions, these credits can be taken home and redeemed via PayPal, at a rate of
  1 credit on FlipList to $1 United States Dollar (USD). To redeem credits
  through PayPal, users must submit a request to redeem a portion of their
  eligible take-home credits through PayPal. At that point, if the request is
  approved, the dollar amount equivalent to the requested credit redemption will
  be transacted to the user's PayPal account.
</p>

<p>
  NOTE: In order to take home and redeem credits, users may first need to
  transact a payment to a FlipList account from a legally owned PayPal account
  or otherwise verify their legal ownership of a PayPal account. In this case,
  when credits are taken home, they will be sent to the same PayPal account from
  which a user loaded up his/her FlipList account (or the account which the user
  has verified). A user cannot take home credits to accounts owned by other
  persons or accounts different from the one that he/she used to load up
  his/her FlipList account. A user maybe prompted to load up his/her FlipList
  account from a qualified PayPal account prior to having the option of taking
  home credits.
</p>

<p>
  We may grant refunds at our sole discretion in exceptional circumstances.
</p>

<p>
  If we find (or have sufficient reason to expect) that users have improperly
  used FlipList, we may rectify the violation by editing/censoring the
  contributions provided by the user (content, comments, votes, and any other
  relevant activity) as well as rectifying the violation by subtracting an
  appropriate number of credits from the account of the improper user. These
  actions will only take place in exceptional circumstances. We built this
  platform for you, and this section has been included so that we can make the
  platform as fair as possible.
</p>

<p>
  We have no control over the quality or legality of
  content/actions/initiatives. We do not grant refunds for credits given to
  access content/actions/initiatives of poor quality.
</p>

<p>
  You are responsible for any taxes you owe based on credit compensation that
  you take home via PayPal. You must also follow our rules about content and
  rewards.
</p>
<p>
  We restrict some types of content and rewards. You cannot:
</p>

<ul>
  <li>
    Create any content/actions/initiatives that in any way include or depict
    real people engaging in sexual or violent acts.
  </li>
  <li>
    Create any content/actions/initiatives that in any way include or depict
    nudity, or realistic depictions of sexual or violent acts
  </li>
  <li>
    Create content/actions/initiatives that in any way use others' intellectual
    property, unless you have written permission to use it OR your use is
    protected by fair use.
  </li>
</ul>

<h2>4. User's Responsibility and Role</h2>

<p>
  While FlipList supports the sharing of content, actions, and initiatives, we
  do not legally endorse any content on our site or related Services. If any
  content is reported to us, we may remove, edit, or censor it, but we do not
  take that action lightly.
</p>

<p>
  We only provide a platform for activists to interact and, potentially,earn
  credits for their contributions. If you see content that violates these terms,
  then notify us and we may take further action.
</p>

<p>
  Removing content or terminating accounts is not an action we take lightly and
  we may take awhile to investigate or open the issue up to further discussion
  with the community.
</p>

<p>
  We are constantly testing out new features with the goal of making FlipList
  better. We may add or remove features, and often test features with a random
  subset of our users. If we believe a feature is significantly different from
  these terms, then we explain those differences in the test.
</p>

<p>
  With your permission, we may give other websites or services the ability to
  verify information about your FlipList account or perform actions on your
  behalf. This permission is asked for when you connect your FlipList account to
  these other websites or services. Information can include the existence of
  your account, compensation amounts, and duration of activity. Actions can
  include any interaction such as sharing content, submitting content,
  submitting votes, loading up an account, or taking home credits to an account.
</p>

<h2>5. Eligibility</h2>

<p>
  You hereby represent and warrant that you are fully able and competent to
  enter into the terms, conditions, obligations, affirmations, representations
  and warranties set forth in these terms and to abide by and comply with these
  terms.
</p>

<p>
  By participating on the site, earning credits for your actions, taking home
  credits, and/or using credits in any other way on the site, you are
  representing and warranting that:
</p>

<ul>
  <li>
    -you are of 18 years of age or older OR you are of 16 years of age or older
    and have the permission of a legal guardian;
  </li>
  <li>
    -you are not listed on any U.S. Government list of prohibited or restricted
    parties;
  </li>
  <li>
    -you will abide at all times by these Terms of Use and any other agreements
    between you and FlipList regarding your use of FlipList.
  </li>
</ul>

<p>
  If FlipList determines that you do not meet the eligibility requirements of
  this section, then you are not authorized to use FlipList. FlipList may
  require you to provide proof that you are eligible to participate according to
  this section prior to you receiving credit compensation or taking home
  compensation. This includes by requesting that you fill out an affidavit of
  eligibility or other verification information (as discussed in Section 6
  below). If FlipList otherwise determines that you do not meet the eligibility
  requirements of this section, in addition to any rights that FlipList may have
  in law or equity, FlipList reserves the right to terminate your account,
  withhold or revoke the awarding of any credit compensation associated with
  your account, or limit your ability to take home credit compensation. In such
  a situation, FlipList may award any withheld or revoked credit compensation to
  the other users in the relevant activity, to be precisely determined by
  FlipList in its sole discretion. FlipList also reserves the right to withhold
  revoked credit compensation to use in furtherance of its fraud prevention or
  anti-money laundering efforts. FlipList affiliates, officers, directors,
  employees, agents and third party service providers may use FlipList in the
  same manner that any user can (sometimes we want to share ideas too!), but we
  will never compromise the integrity of the platform.
</p>

<h2>6. Conditions of participation</h2>
<h3>6.1 Registration</h3>

<p>
  You may establish, maintain, use and control only one account on FlipList.
  Each account on FlipList may only be owned, maintained, used and controlled by
  one individual - although we may establish accounts for our own use at our
  discretion. For avoidance of doubt, users may not “co-own” accounts on
  FlipList. In the event we determine that you have opened, maintained, used, or
  controlled, more than one account, in addition to any other rights that we may
  have, we reserve the right to suspend or terminate any or all of your accounts
  and terminate, withhold, or revoke the awarding of any credit compensation.
</p>

<p>
  You agree that the sole and specific purposes of creating an account on
  FlipList is to (a) participate on the site, (b) when possible, earn credit
  compensation from participation on the site, and (c) redeem credits earned
  through PayPal. FlipList shall be entitled to suspend, limit orterminate your
  account if we determine, in our sole discretion, that you are loading up
  credits without the intention of using them to participate on FlipList. In
  such circumstances, we may also report such activity to relevant authorities.
</p>

<h3>6.2 Account Password and Security</h3>

<p>
  At the time of registration for online account access, you must provide a
  Username to be used inconjunction with your account. You may not use a
  Username that promotes a commercial venture or a Username that FlipList in its
  sole discretion deems offensive. You are fully responsible for all uses of
  your Username, whether by you or others. You agree to (a) immediately notify
  FlipList of any unauthorized use of your Username or account or any other
  breach of security; and (b) useonly your own Username to access FlipList.
  FlipList cannot and will not be liable for any loss or damage arising from
  your failure to comply with this Section.
</p>

<p>
  At the time of registration for online account access, if you choose to
  register with an email address, you must supply a valid email address and
  Password to be used in conjunction with your account. You are responsible for
  maintaining the confidentiality of Password, and you are fully responsible for
  all uses of your Username and Password, whether by you or others. You agree to
  (a) keep your Password confidential and not share it with anyone else; (b)
  immediately notify FlipList of any unauthorized use of your Username and
  Password or account or any other breach of security; and (c) use only your own
  Username and Password to access FlipList. FlipList cannot and will not be
  liable for any loss or damage arising from your failure to comply with this
  Section.
</p>

<p>
  You acknowledge and agree that FlipList is authorized to act on instructions
  received through the use of your email address, Username and/or Password, and
  that FlipList may, but is not obligated to, deny access or block any
  transaction made through use of your Username and/or Password without prior
  notice if we believe your Username and/or Password are being used by someone
  other than you, or for any other reason.
</p>

<p>
  FlipList may require you to change your Username or may unilaterally change
  your Username.
</p>

<h3>6.3 Communications and Information Practices</h3>

<p>
  As a result of your registration for the Service, you may receive certain
  commercial communications from FlipList. You understand and agree that these
  communications are part of your registration, and that, to the extent required
  by law, you may opt out of receiving these communications at any time by
  either using the unsubscribe functionality or sending an email to
  hello@fliplist.app. Following such an opt-out, we may still communicate with
  you via email to the extent permitted by applicable law.
</p>

<h3>6.4 Disqualification and Cancellation</h3>

<p>
  FlipList also reserves the right to cancel credit compensation, in our sole
  discretion, without any restrictions.
</p>

<p>
  FlipList, in its sole discretion, may disqualify you from credit compensation
  or all of FlipList, refuse to award credit compensation and require the return
  of any credit compensation, or suspend, limit, or terminate your account if
  you engage in conduct FlipList deems, in its sole discretion, to be improper,
  unfair, fraudulent or otherwise adverse to the operation of FlipList or in any
  way detrimental to other users. Improper conduct includes, but is not limited
  to: falsifying personal information, including payment information, required
  to use the Service or claim credit compensation; violating eligible payment
  method terms, violating any of these rules, accumulating credit compensation
  through unauthorized methods such as unauthorized scripts or other automated
  means; tampering with the administration of FlipList or trying to in any way
  tamper with the computer programs associated with FlipList; obtaining other
  users' information and spamming other users; and abusing FlipListin any way;
  or otherwise violating these Terms ofUse. You acknowledge that the forfeiture
  and/or return of any credit compensation shall in no way prevent FlipList
  from informing the relevant authorities, and/or pursuing criminal or civil
  proceedings in connection with such conduct.
</p>

<p>
  If for any reason the Service is not running as originally planned (e.g., if
  the Site becomes corrupted or does not allow the proper usage in accordance
  with the rules, or if infection by acomputer virus, bugs, tampering,
  unauthorized intervention, actions by entrants, fraud, technical failures, or
  any other causes of any kind, in the sole opinion of FlipList corrupts or
  affects the administration, security, fairness, integrity or proper conduct of
  the Service), FlipList reserves the right, in its sole discretion, to
  disqualify any individual implicated in or relating to the cause and/or to
  cancel, terminate, extend, modify or suspend FlipList, and select the users to
  receive credit compensation from all relevant activity. If such cancellation,
  termination, modification or suspension occurs, notification may be posted on
  the Site.
</p>

<p>
  The failure of FlipList to comply with any provision of these Terms due to an
  act of God, hurricane, war, fire, riot, earthquake, terrorism, act of public
  enemies, actions of governmental authorities outside of the control of
  FlipList (excepting compliance with applicable codes and regulations), or
  other force majeure event will not be considered a breach of these Terms.
</p>

<h3>6.5 Earning Credits and Taking Home Credits</h3>

<p>
  By earning and/or taking home credits, you agree to provide us with a valid
  mailing address, date of birth and social security number, and/or any other
  information we may require in order to run appropriate identity checks and
  comply with applicable rules and regulations. If necessary, you may be
  required to provide appropriate documentation that allows us to verify you.
  While your account is pending verification, you may be able to participate,but
  you will not be able to take home any credits from your account until
  verification is complete. If we are unable to verify you, we reserve the right
  to suspend your account and withhold any credits until such time as we have
  been able to successfully verify you.
</p>

<p>
  We also may conduct checks for Terms compliance, including anti-fraud checks
  on participation patterns and credits loaded up prior to processing a take
  home request, and we may request additional information before permitting a
  take home. Subject to such checks, you may close your account and take home
  your eligible credits at any time and for any reason.
</p>

<p>
  FlipList may limit the amount of credits a user can take home from his or her
  account in accordance with appropriate regulations.
</p>

<p>
  In cases where you have participated in a promotion to receive a bonus or
  other benefit, you maybe required to use your credit bonus entirely at the
  discretion of FlipList, and you may not be permitted to take home your credit
  bonus until it (in its entirety) has been dedicated to the purposes defined by
  FliopList.
</p>

<h3>6.6 Taxation</h3>

<p>
  You, not FlipList, are responsible for filing and paying applicable county,
  municipal, state, federal, provincial, territorial, and/or national taxes on
  any credits taken home via PayPal. FlipList does not provide tax advice, nor
  should any statements in this agreement or on the Service be construed as tax
  advice.
</p>

<h3>6.7 Idea Submissions</h3>

<p>
  FlipList considers any unsolicited suggestions, ideas, proposals or other
  material submitted to it by users via the Service, mobile applications, or
  otherwise (collectively, the "Material") to be non-confidential and
  non-proprietary, and FlipList shall not be be liable for the disclosure or use
  of such Material. If, at FlipList's request, any member sends Material to
  improve the Service (for example through content, discussions, or
  communications with customer support), FlipList will also consider that
  Material to be non-confidential and non-proprietary and FlipList will not
  be liable for use or disclosure of the Material. Any communication by you to
  FlipList is subject to this Agreement. You hereby grant and agree to grant
  FlipList, under all of your rights in the Material, a worldwide,
  non-exclusive, perpetual, irrevocable, royalty-free, fully-paid, sublicensable
  and transferable right and license to incorporate, use, publish and exploit
  such Material for any purpose whatsoever, commercial or otherwise, including
  but not limited to incorporating it in the API, documentation, or any product
  or service, without compensation or accounting to you and without further
  recourse by you.
</p>

<h2>7. Disabling Your Account</h2>

<p>
  You can permanently disable your account at any time by sending an email to
  hello@fliplist.app. You can see what information is deleted and what we
  continue to store after the account is disabled in our privacy policy.
</p>

<p>
  We can terminate or suspend your account at any time at our discretion. We can
  also cancel/reverse any credit compensation at our discretion.
</p>

<p>
  These terms remain in effect after your account is disabled.
</p>

<h2>8.Your Content</h2>

<p>
  You have complete ownership of all your own content, but you give us
  permission to use it on FlipList. Make sure you have permission to use content
  that you post on FlipList.
</p>

<p>
  You keep full ownership of all content that you post on FlipList, but to
  operate, we need licenses from you.
</p>

<p>
  By posting content to FlipList, you grant us a royalty-free, perpetual,
  irrevocable, non-exclusive, sublicensable, worldwide license to use,
  reproduce, distribute, perform, publicly display or prepare derivative works
  of your content. The purpose of this license is to allow us to operate
  FlipList, promote FlipList, and promote your content on FlipList. We are not
  trying to steal your content or use it in an exploitative way. If we do
  sublicense any of your content, commentary, or votes, we will look to do so in
  a manner that generates further compensation to you.
<p>
  You may not post content that infringes on others' intellectual property or
  proprietary rights.
</p>

<p>
  FlipList users may not use content posted byother users in any way not
  authorized by these terms or that content's creator.
</p>

<h2>9. FlipList's Content</h2>

<p>
  You can use our content as part of FlipList, but you can’t use it for anything
  else without our permission.
</p>

<p>
  Content we create is protected by copyright, trademark and trade secret laws.
  Some examples of our content are the text on the site, our code, and our logo.
  We grant you a license to use our logo and other copyrights or trademarks to
  promote your work on FlipList as well as publiccontent/actions/initiatives
  through FlipList.
</p>

<p>
  You may not otherwise use, reproduce, distribute, perform, publicly display or
  prepare derivative works of our content unless we give you permission in
  writing. Please ask if you have any questions.
</p>

<h2>10. Copyright Infringement</h2>

<p>
  If you believe that any content on FlipLis tinfringes your copyrights, please
  send written notice to: hello@fliplist.app.
</p>

<p>
  This notice should include the following information:
</p>

<ul>
  <li>
    -The electronic signature of the copyright owner, or a person authorized to
    act on their behalf.
  </li>
  <li>
    -A description of the copyrighted work that you claim has been infringed.
  </li>
  <li>
    -A description of the exact location on FlipList of the content that you
    claim is infringing. This description must allow us to find and identify the
    content.
  </li>
  <li>
    -Your name, address, telephone number and email address.
  </li>
  <li>
    -A statement by you that: a) you believe in good faith that the use of the
    content that youc laim to infringe your copyright is not authorized by law,
    the copyright owner, or the owner’sagent, b) all information contained in
    your copyright notice is accurate, and c) under penalty of perjury, you are
    either the copyright owner, or authorized to act on their behalf.
  </li>
</ul>

<p>
  If your content has been removed because of a DMCA notice, but you believe the
  content was not infringing on another’s copyrights, then you may send a
  written counter-notice to have the content restored. Your counter-notice
  should include the following information:
</p>

<ul>
  <li>
    -Your electronic signature.
  </li>
  <li>
    -A description of the content that was removed and the exact location of the
    content on FlipList before it was removed.
  </li>
  <li>
    -Your name, address, telephone number and email address.
  </li>
  <li>
    -A statement under penalty of perjury that you believe in good faith that
    the content was removed by mistake or misidentification.
  </li>
  <li>
    -A statement that you expressly understand and consent to submit to the
    personal and exclusive jurisdiction of the courts of the county, state,
    province, or territory determined solely by FlipList and/or ysli OÜ to
    resolve any legal matter arising from the Terms of Use or related to your
    use of the FlipList website. If the court of law having jurisdiction rules
    that any provision of the agreement is invalid, then that provision will be
    removed from the Terms of Use and the remaining terms and conditions will
    continue to be valid in full force and effect.
  </li>
  <li>
    -In appropriate circumstances we may also terminate the accounts of repeat
    infringers.
  </li>
</ul>

<h2>11.Indemnity</h2>

<p>
  If we are sued because of you, you have to help pay for it.
</p>

<p>
  You will indemnify us from all losses and liabilities, including legal fees,
  that arise from these terms or relate to your use of FlipList. We reserve the
  right to exclusive control over the defense of a claim covered by this clause.
  If we use this right,then you will help us in our defense.
</p>

<p>
  Your obligation to indemnify under this clause also applies to our affiliates,
  officers, directors, employees, agents and third party service providers.
</p>

<h2>12. Warranty Disclaimer</h2>

<p>
  FlipList is provided “asis” and without warranty of any kind. Any warranty of
  merchantability, fitness for a particular purpose, non-infringement, and any
  other warranty is excluded to the greatest extent permitted by law.
</p>

<p>
  The disclaimers of warranty under this clause also apply to our affiliates and
  third party service providers.
</p>

<h2>13.Limit of Liability</h2>

<p>
  If you lose money as a result of using FlipList, any payment to you is limited
  to how much you have paid us, and we don’t have to pay you if your loss is
  unexpected.
</p>

<p>
  To the extent permitted by law, we are not liable to you for any incidental,
  consequential or punitive damages arising out of these terms, or your use or
  attempted use of FlipList. To the extent permitted by law, our liability for
  damages is limited to the amount of money you have paid us in order to use
  FlipList. We are specifically not liable for loss associated with failure to
  deliver rewards and from losses caused by conflicting contractual agreements.
</p>

<p>
  For this clause “we” and “our” is defined to include our affiliates, officers,
  directors, employees, agents and third party service providers.
</p>

<h2>14. Dispute Resolution</h2>

<p>
  If you have a problem please talk to us, but you are limited in how you can
  resolve disputes. You waive your right to participate in a class action
  proceeding.
</p>

<p>
  We encourage you to contact us if you have an issue. If a dispute does arise
  out of these terms or related to your use of FlipList, and it cannot be
  resolved after you talk with us and you wish to seek injunctive relief, you
  expressly understand and consent to submit to the personal and exclusive
  jurisdiction of the courts of the county, state, province, or territory
  determined solely by FlipList to resolve any legal matter arising from the
  Terms of Use or related to your use of the FlipList website. If the court of
  law having jurisdiction rules that any provision of the agreement is invalid,
  then that provision will be removed from the Terms of Use and the remaining
  terms and conditions will continue to be valid in full force and effect.
</p>

<h2>15. Jurisdiction</h2>

<p>
  You expressly understand and consent to submit to the personal and exclusive
  jurisdiction of the courts of the county, state, province, or territory
  determined solely by FlipList to resolve any legal matter arising from the
  Terms of Use or related to your use of the FlipList website. If the court of
  law having jurisdiction rules that any provision of the agreement is invalid,
  then that provision will be removed from the Terms of Use and the remaining
  terms and conditions will continue to be valid in full force and effect.
</p>

<h2>16. These Terms Are the Entire Agreement Between Us</h2>

<p>
  These terms and any referenced policies are the entire agreement between you
  and us, and supersede all prior agreements. If any provision of these terms is
  held to be unenforceable, that provision is modified to the extent necessary
  to enforce it. If a provision cannot be modified, it is severed from these
  terms, and all other provisions remain in force. If either party fails to
  enforce a right provided by these terms, it does not waive the ability to
  enforce any rights in the future.
</p>

<p>
  If you have any questions, please email hello@fliplist.app.
</p>

<% provide :title, 'Terms of Use' %>
