<section class="hero text-light text-center" id="intro">
    <div class="container-sm">
        <div class="hero-inner">

            <p style="margin-top: 20px; font-size: 36px; color: white; margin-bottom: 40px;" class="hero-title h2-mobile mt-0 is-revealing">Make <strong>an impact</strong> in <strong>seconds.</strong></p>
            <p style="color: white; font-size: 1.2rem;" class="hero-paragraph is-revealing">Empowering voices.  Flipping issues.  <strong>Moving the world.</strong></p>

            <!-- <div class="email-donate-row">

                <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                <div class="vl">
                </div>

                <div class = "button-wrap">
                <button class = "rad-button good flat" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
              </div>
            </div> -->

        </div>
    </div>
</section>

<section class="features section text-center" style="display: block;">
              <section class="features section text-center lateral">
                <div class="container">
                  <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                      <div class="feature is-revealing single-col">
                        <h2 class="section-title mt-0" style="margin-bottom: 40px;">End the Shutdown</h2>
                      <!-- <p class="feature-title">On Monday, January 21st, memebers of the European Parliament (MEPs) are negotiating comprehensive Internet reforms that would <strong>(Article 11) require paid licenses for <em>hyperlinking</em> to news stories</strong>, and <strong>(Article 13) create copyright censorship algorithms that block ALL user submissions in the E.U. -- <em>including the legal kind.</em></strong></p> -->
                            <!-- <p class="feature-title">Have any favorite blogs?  <strong>This will kill them</strong>, as the owners would have to pay for every link they include -- and every comment that's submitted.</p>
                        <p class="feature-title">Who <em>can</em> afford that?  Surprise surprise, Facebook and the major media organizations.</p>
                        <p class="feature-title">Articles 11 and 13 were largely written for the music industry.  And even the <em>music industry</em> has come out against it (as well as the Premier League, and the film industry, and the inventors of the Internet -- <a href="https://www.eff.org/deeplinks/2018/12/facing-criticism-all-sides-eus-terrible-copyright-amendments-stumble-new-year" target="_blank">see the link while you can!</a>).  More, <a href="https://www.eff.org/deeplinks/2018/12/four-million-europeans-signatures-opposing-article-13-have-been-delivered-european" target="_blank">4 million Europeans signed in opposition to these misguided laws.</a></p> -->

                        <!-- <p class="feature-title">We've written a series of tweets to critical MEPs, alerting them that this is a SERIOUS mistake.  And not only will it ruin the Internet across Europe -- it will also <strong>cost them and their parties significant support</strong> in the May 2019 MEP elections.</p> -->
                        <!-- <p class="feature-title"><strong>63% of voters</strong> oppose using the shutdown to force border wall funding.</p> -->
                        <!-- <p class="feature-title">We don't want a $5 billion dollar wall.  We want <strong>teachers,</strong> we want <strong>healthcare,</strong> and we want a <strong>Green New Deal.</strong></p> -->
                        <!-- <p class="feature-title">End the shutdown on <strong>OUR TERMS</strong> by instantly retweeting this message to leaders across Washington:</p> -->
                        <p class="feature-title">In the midst of our longest government shutdown, we wrote a series of messages to Congress and the White House, affirming OUR PRIORITIES for this country.</p>
                        <p class="feature-title">Teachers.  Healthcare.  Progress.  And a Green New Deal.</p>
                        <p class="feature-title" style="margin-bottom: 35px;">Click the blue button to retweet the full series of messages:</p>
                        <div class="button-wrap" style="">
                          <p class="feature-title" style="margin-bottom: 35px;">
                            <a href="/auth/twitter" class="authorize-anchor" style="font-weight: 500; background-color: rgb(67, 172, 235); color: white; padding: 8px; border-radius: 6px; border: solid 1px lightgrey;">
                            <%= image_tag 'twitter-box.svg', style: 'height: 30px;  display: inline; padding-bottom: 5px;' %>
                              Retweet!  </a></p>
                        </div>
                        <blockquote class="twitter-tweet" style="margin-top: 0px; border: none;" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">@realDonaldTrump</a> <a href="https://twitter.com/SenateGOP?ref_src=twsrc%5Etfw">@SenateGOP</a> <a href="https://twitter.com/HouseDemocrats?ref_src=twsrc%5Etfw">@HouseDemocrats</a> <a href="https://twitter.com/WhiteHouse?ref_src=twsrc%5Etfw">@WhiteHouse</a> <br><br>American taxpayers don&#39;t want a $5.7B wall (<a href="https://t.co/UDyLFLCm34">https://t.co/UDyLFLCm34</a>, <a href="https://t.co/IF2oYSmApR">https://t.co/IF2oYSmApR</a>)<br><br>We want teachers. We want healthcare.<br><br>We want a <a href="https://twitter.com/hashtag/GreenNewDeal?src=hash&amp;ref_src=twsrc%5Etfw">#GreenNewDeal</a> for our children&#39;s future.<br><br>Time to work.<a href="https://twitter.com/hashtag/EndTheShutdown?src=hash&amp;ref_src=twsrc%5Etfw">#EndTheShutdown</a><br><br>RT</p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1087702208458690560?ref_src=twsrc%5Etfw">January 22, 2019</a></blockquote>
                        <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Click to Tweet!</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

                            <br>
                                <hr id="alt">
                                <br>
                                <p class="feature-title"><em>If you experienced any errors or don't wish to use the Twitter API, click the tweet below.</em></p>
                                <p class="feature-title"><em>A thread will open, and you can manually retweet the messages on Twitter in about 30 seconds!</em></p>
                                  <!-- <p class="feature-title"><em>If you experienced any errors, we're overloaded with requests!</em></p> -->
                                  <!-- <p class="feature-title"><em>Click the tweet below, and you can manually retweet the messages on Twitter in about 30 seconds</em></p> -->
                                  <div class="audio-block">
                                    <%= image_tag 'icons/rock-guitar.svg', style: 'height:45px;display:inline-block' %>
                                    <p class="feature-title" style="font-style: oblique;" >Here's some music to set the mood: </p>
                                    <%= audio_tag 'background.mp3', controls: true, loop: true, style: 'margin-bottom: 20px; display: block; margin: 0 auto;' %>                                     </div>
                                  <p class="feature-title" id="alt4"><strong>... GO!</strong></p>
                                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">@realDonaldTrump</a> <a href="https://twitter.com/SenateGOP?ref_src=twsrc%5Etfw">@SenateGOP</a> <a href="https://twitter.com/HouseDemocrats?ref_src=twsrc%5Etfw">@HouseDemocrats</a> <a href="https://twitter.com/WhiteHouse?ref_src=twsrc%5Etfw">@WhiteHouse</a> <br><br>American taxpayers don&#39;t want a $5.7B wall (<a href="https://t.co/UDyLFLCm34">https://t.co/UDyLFLCm34</a>, <a href="https://t.co/IF2oYSmApR">https://t.co/IF2oYSmApR</a>)<br><br>We want teachers. We want healthcare.<br><br>We want a <a href="https://twitter.com/hashtag/GreenNewDeal?src=hash&amp;ref_src=twsrc%5Etfw">#GreenNewDeal</a> for our children&#39;s future.<br><br>Time to work.<a href="https://twitter.com/hashtag/EndTheShutdown?src=hash&amp;ref_src=twsrc%5Etfw">#EndTheShutdown</a><br><br>RT</p>&mdash; Flip List (@Flip_List) <a href="https://twitter.com/Flip_List/status/1087702208458690560?ref_src=twsrc%5Etfw">January 22, 2019</a></blockquote>
                                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


                                <br>
                                  <div class="email-donate-row" style="margin-top: 50px;">

                                      <!-- <style>.sendgrid-subscription-widget input{padding:.5em .5em .55em;font-size:.8em;font-family:sans-serif}.sendgrid-subscription-widget #sg_signup_first_name,.sendgrid-subscription-widget #sg_signup_last_name{margin-right:.5em}.sendgrid-subscription-widget #sg-submit-btn{display:inline-block;border:0px solid #ccc;cursor:pointer;vertical-align:middle;max-width:150px;text-align:center;font-size:.9em;font-family:sans-serif}.sendgrid-subscription-widget #sg-submit-btn:active{color:#8e8b8b;box-shadow:0 0 5px -1px rgba(0,0,0,.6)}.sendgrid-subscription-widget .response{display:none;font-family:sans-serif;font-size:.8em}.sendgrid-subscription-widget .success{color:white}.sendgrid-subscription-widget .error,.sendgrid-subscription-widget .sg-consent-text a{color:#3097d1}.sendgrid-subscription-widget .sg-consent-text{font-size:.9em}.sendgrid-subscription-widget .sg-consent-text label{font-weight:400}</style>

                                      <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address" data-checkboxerror="Please tick the box to accept our conditions"><form id="sg-widget" data-token="00843452be4c17b3902c7fd0da32bb3e" onsubmit="return false;"><div class="sg-response" id="sg-response" style="color: white !important;"></div><input id="sg_email" type="email" name="sg_email" placeholder="you@example.com" required><input type="submit" id="sg-submit-btn" value="Stay Updated"></form></div>

                                      <div class="vl">
                                      </div> -->

                                      <div class = "button-wrap">
                                      <button class = "retweet-button blue flat" style="font-weight: 800; font-size: 1rem;" onclick="location.href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5MCHA3NZC9758&source=url';">Support Our Team</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </section>

<% provide :title, 'Empowering voices. Flipping issues. Moving the world.' %>
