.features {

    // .section-title {
    //     margin-bottom: 48px;
    //     background: rgba(255, 246, 143, 0.8);
    //     width: fit-content;
    //     margin-left: auto;
    //     margin-right: auto;
    //     border-radius: 5px;
    //     padding: 10px;
    //     font-family: sans-serif;
    // }

    @media (min-width: 450px) {
      margin-top: 30px;
    }
}

.authorize-anchor {
  &:hover {
    // background-color: #0c7abf;
    top:-2px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  }
}

.retweet-button{
white-space:nowrap;
top:0px;
border-radius:4px;
position:relative;
border:none;
background:none;
font-family: 'Roboto', sans-serif;
width: 200px;
height: 50px;
cursor:pointer;
transition:0.1s all ease;
font-size : 16px;
font-weight: 300;
//color:#777;
color: white;
//border-bottom: 1px solid #ccc;
box-shadow:0px 0px 0px 0px #B8B8B8;
//border-right: solid 1px grey;

img {
  height: 50px;
  display: inline-block;
}

span {
  font-weight: 900;
}


  &.flat{
    //background:#f0f0f0;
  }

      &.blue{
        //background-color: rgba(197, 239, 247, 1);
        //color: rgba(77, 5, 232, 1);
        //border-bottom: 1px solid #759f87;
        font-size: 0.9rem;
        font-family: inherit;

        background-color: rgb(67, 172, 235);
        height: 55px;

    &:hover{
      //background-color: #0c7abf;
      top:-2px;
      //border-bottom: 4px solid #759f87;
      //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
      //box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    }
    &:active{
      top:0px;
      //border: 1px solid #759f87;
      //background-color:#a5dabc;
      //background-color: #0c7abf;
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
    }
  }
}

.rad-button{
white-space:nowrap;
top:0px;
border-radius:4px;
position:relative;
border:none;
background:none;
font-family: 'Roboto', sans-serif;
width: 200px;
height: 50px;
cursor:pointer;
transition:0.1s all ease;
font-size : 16px;
font-weight: 300;
color:#777;
border-bottom: 1px solid #ccc;
box-shadow:0px 0px 0px 0px #B8B8B8;
border-right: solid 1px grey;


  &.flat{
    background:#f0f0f0;
  }

      &.good{
        background-color: rgba(197, 239, 247, 1);
        color: rgba(77, 5, 232, 1);
        border-bottom: 1px solid #759f87;
        font-size: 0.9rem;
        font-family: inherit;

    &:hover{
      background-color: rgba(197, 239, 247, 1);
      top:-2px;
      //border-bottom: 4px solid #759f87;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      //box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    }
    &:active{
      top:0px;
      border: 1px solid #759f87;
      background-color:#a5dabc;
      box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
    }
  }
}


@media (min-width: 561px) {

  #tweet-medium-plus, #tweet-medium, #tweet-small {
    display: none !important;
  }

}

@media (max-width: 560px) {

  #tweet-medium-plus {
    display: inline-block !important;
  }

  #tweet-large, #tweet-medium, #tweet-small {
    display: none !important;
  }

}

@media (max-width: 510px) {

  #tweet-medium {
    display: inline-block !important;
  }

  #tweet-large, #tweet-medium-plus, #tweet-small {
    display: none !important;
  }

}

@media (max-width: 480px) {

  #tweet-small {
    display: inline-block !important;
  }

  #tweet-large, #tweet-medium-plus, #tweet-medium {
    display: none !important;
  }

}

.twitter-tweet {
    min-width: 0px !important;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 320px !important;

  @media (max-width: 600px) {
    width: 90% !important;
    // margin-left: auto;
    // margin-right: auto;
    // These margin stylings can be universal in single column styling

    // @media (max-width: 450px) {
    //   width: 70% !important;
    // }
    // The above is for a real embedded tweet, not for the image.
  }

  &:hover, &:focus, &:active {
    //box-shadow: 0px 1px 5px 2px rgba(246, 36, 89, 1);
    //cursor: pointer;
    //border-bottom: 4px solid #759f87;

    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    //margin-top: -2px !important;

    .feature-title {
      text-decoration: underline;
    }
  }

  cursor:pointer;
  transition:0.1s all ease;

  &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include shadow;
      mix-blend-mode: multiply;
  }
}


.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;

    &:first-child {
        margin-top: -12px;
    }

    &:last-child {
        margin-bottom: -12px;
    }

    .single-col {

      .feature-title {
        font-size: 1.2rem;
      }

      @media (min-width: 550px) {
        .audio-block {
          display: inline-flex;
          margin-top: 15px;



          .feature-title {
            display: inline-block;
          }

          img {
            margin-right: 10px;
            margin-top: -8px;
          }

          audio {
            margin-left: 20px;
            margin-top: -5px;
            height: 40px;
          }
        }
      }
    }

}

.feature {
    padding: 12px;
    // width: 276px;
    // max-width: 276px;
    // This is original feature width.  Adjusting for main tweet images.

    //width: 500px;
    //max-width: 500px;
    // This is two-column feature width.  Adjusting for single column image

    width: 100%;

    flex-grow: 1;

    @media (min-width: 935px) {
    &.shutdown {
      // margin-right: 200px;
    }
  }
}

.lateral {
  display: inline-block;

  // width: 500px;
  // max-width: 500px;
  //
  // @media (max-width: 600px) {
  //   width: 100%;
  // }
  //
  // &:first-of-type {
  //   @media (min-width: 935px) {
  //
  //     margin-right: 100px;
  //   }
  // }

  // This is for lateral column pair.  Adjusting for single column main image.

  width: 100%;

}

.feature-inner {
    position: relative;
    height: 100%;
    background: color(bg, 1);
    padding: 40px 24px;

    iframe {
      position: absolute !important;
    }

    &:hover, &:focus, &:active {
      //box-shadow: 0px 1px 5px 2px rgba(246, 36, 89, 1);
      //cursor: pointer;
      top:-2px;
      //border-bottom: 4px solid #759f87;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      .feature-title {
        text-decoration: underline;
      }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include shadow;
        mix-blend-mode: multiply;
    }
}

.feature-icon {
    display: flex;
    justify-content: center;
}

@include media( '>medium' ) {

    .features {

        .section-title {
            //margin-bottom: 56px;
            margin-bottom: 35px;
        }

        .section-inner {
            padding-top: 56px;
            padding-bottom: 64px;
        }
    }
}
