.is-boxed {
    background: color(bg, 2);
}



.email-donate-row {
  display: inline-flex;
  margin-bottom: 2vh;

  // #sg_email {
  //   display: block;
  // }

  .vl {
    border-left: 2px solid black;
    height: 50px;
    margin: 0 10px;
  }

  #sg-submit-btn {
    background: crimson;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 3px;
    margin-top: -3px;
    margin: -3px 0 0 .4em;

    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 5px;
    // margin-bottom: 5px;
  }

  .rad-button{
  white-space:nowrap;
  top:0px;
  border-radius:4px;
  position:relative;
  border:none;
  background:none;
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 50px;
  cursor:pointer;
  transition:0.1s all ease;
  font-size : 16px;
  font-weight: 300;
  color:#777;
  border-bottom: 1px solid #ccc;
  box-shadow:0px 0px 0px 0px #B8B8B8;
  border-right: solid 1px grey;


    &.flat{
      background:#f0f0f0;
    }

        &.good{
          background-color: rgba(197, 239, 247, 1);
          color: rgba(77, 5, 232, 1);
          border-bottom: 1px solid #759f87;
          font-size: 0.9rem;
          font-family: inherit;

      &:hover{
        background-color: rgba(197, 239, 247, 1);
        top:-2px;
        //border-bottom: 4px solid #759f87;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        //box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
      }
      &:active{
        top:0px;
        border: 1px solid #759f87;
        background-color:#a5dabc;
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
      }
    }
  }


  #sg-submit-btn:hover {
  margin-top: -7px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #donate-widget {
    margin-left: 5vw;
  }

  @media (max-width: 555px) {
    .rad-button {
      max-width: 150px;
    }
  }

  @media (max-width: 555px) {
      #sg-widget {
          display: table-cell;

          #sg_email {
            margin-bottom: 10px;
            max-width: 145px;
          }
      }
    }
}


.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

main {
    flex: 1 0 auto;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

@include media( '>medium' ) {

    .section-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

body {
  //cursor: url('/icons/united-states.png'), auto;
}
