<header class="site-header">
  <div class="container">
    <div class="site-header-inner">
      <div class="brand header-brand">
        <h1 class="m-0">
          <%= link_to root_path do %>
            <%= image_tag 'logo2.png', alt: 'Flip List', id: 'header-logo' %>
            <title>FlipList.App</title>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
</header>
