<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= yield(:title) %> | Flip List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
      <%= render 'header' %>
      <main>
        <%= yield %>
      </main>
      <%= render 'footer' %>
    </div>
    <script type='text/javascript'>
      window.__lo_site_id = 131080;

      	(function() {
      		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
      		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
      		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
      	  })();
      	</script>
  </body>
</html>
